In [4]:
import os
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from plotly.offline.offline import _plot_html
import plotly.graph_objs as go
print (__version__) # requires version >= 1.9.0
init_notebook_mode(connected=True)

from mpl_toolkits import mplot3d
import matplotlib.pylab as plt
from matplotlib.pylab import rcParams
%matplotlib notebook
#%matplotlib inline

from utils import series_supp as ss
from utils import data_factory as df
from utils import k_mean as km
from utils import k_shape as ks
from utils.geo import Geo
import pandas as pd

#from utils import api

2.5.1

In [5]:
cwd = os.getcwd()
os.chdir(cwd)
print(cwd)
factory = df.DataFactory(cwd)

RG24 = ss.SeriesSupp(cwd, factory, "RG24")
RG1 = ss.SeriesSupp(cwd, factory, "RG1")
GW = ss.SeriesSupp(cwd, factory, "GW")
geo = Geo(cwd)

C:\Users\utilisateur\workspace_stage

In [56]:
RG1 = pd.read_csv("C:\\Users\\utilisateur\\workspace_stage\\geo\\tmp\\RG_split.txt", sep=",")

In [57]:
RG2 = pd.read_csv("C:\\Users\\utilisateur\\workspace_stage\\geo\\tmp\\RG_split_1.txt", sep=",")

In [58]:
RG3 = pd.read_csv("C:\\Users\\utilisateur\\workspace_stage\\geo\\tmp\\RG_split_2.txt", sep=",")

In [18]:
GW = dataGW.join(stationGW)

In [21]:
GW = GW.set_index("STATION")

In [93]:
allin.to_csv("geo_RG.csv", sep = ";")

In [32]:
GW.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48 entries, GW011 to GW381
Data columns (total 4 columns):
Etat_2017    48 non-null object
X_RGNC       48 non-null object
Y_RGNC       48 non-null object
Z_m_NGNC     48 non-null object
dtypes: object(4)
memory usage: 1.9+ KB

In [31]:
GW = GW.loc[GW['Etat_2017'] == "Suivi"]

In [37]:
GW = GW.drop(["Etat_2017"], axis = 1)

In [40]:
GW = GW.reset_index()

In [43]:
GW = GW.rename(columns={"STATION": "capteur", "X_RGNC": "lat", "Y_RGNC":"lon", "Z_m_NGNC":"alt"})

In [46]:
GW = GW.set_index("capteur")

In [50]:
GW = GW["alt"].astype(Integer)

NameError: name 'Integer' is not defined

capteur
GW011     560,30
GW071      28,01
GW082       4,46
GW126     664,63
GW190     664,52
GW200      16,04
GW201       21,5
GW202       21,5
GW203       21,6
GW204       18,2
GW205       20,7
GW211      17,34
GW212       6,01
GW214       23,4
GW215       5,34
GW218      12,72
GW219         13
GW220      5,523
GW221       4,26
GW222      30,77
GW223      10,35
GW225      4,319
GW226      4,319
GW227      23,47
GW231      3,712
GW232        5,5
GW234     23,091
GW235       4,31
GW236       5,42
GW239       14,3
GW263    645,436
GW264      829,4
GW266    801,582
GW268    779,589
GW269     733,71
GW270    762,696
GW271    798,507
GW361     13,617
GW362     14,425
GW364    714,899
GW366    874,927
GW367    542,819
GW368    542,853
GW369    553,168
GW378     647,56
GW379    640,384
GW380      14,29
GW381       8,24
Name: alt, dtype: object

In [61]:
allin = RG1.join(RG2)

In [63]:
allin = allin.join(RG3)

In [65]:
allin = allin.loc[allin['Etat_2017'] == "Suivi"]

In [68]:
allin = allin.drop(["Etat_2017"], axis = 1)

In [71]:
allin = allin.set_index("Station")

In [72]:
allin = allin.reset_index()

In [76]:
allin = allin.rename(columns={"Station": "capteur", "X_RGNC": "lat", "Y_RGNC":"lon", "Z_mNGNC":"alt"})

In [77]:
allin

   capteur       lat       lon     alt
0    RG007  265083.0  353648.0   27,19
1    RG009  273310.0  359693.0  712,33
2    RG010  274507.0  358192.0  829,37
3    RG011  278688.0  353659.0  851,01
4    RG012  271044.0  358059.0   90,34
5    RG013  272373.0  356121.0  108,14
6    RG014  268146.0  355121.0   14,39
7    RG017  269999.0   33756.0  346,74
8    RG018  272454.0  354572.0  522,99
9    RG019  275066.0  356083.0  837,23
10   RG023  274920.0  358709.0     NaN
11   RG024  276747.0  356252.0     NaN
12   RG026  274330.0  355050.0     NaN
13   RG027  269090.0  352840.0     NaN
14   RG028  275544.0  357484.0     NaN
15   WS001  275072.0  356050.0     836
16   WS002  261524.0  354366.0     NaN
17   WS004  265083.0  353648.0   27,19

In [87]:
allin = allin.drop(allin.index[["RG023"]])

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [86]:
allin

      capteur       lat       lon     alt
0       RG007  265083.0  353648.0   27,19
1       RG009  273310.0  359693.0  712,33
2       RG010  274507.0  358192.0  829,37
3       RG011  278688.0  353659.0  851,01
4       RG012  271044.0  358059.0   90,34
5       RG013  272373.0  356121.0  108,14
6       RG014  268146.0  355121.0   14,39
7       RG017  269999.0   33756.0  346,74
8       RG018  272454.0  354572.0  522,99
9       RG019  275066.0  356083.0  837,23
10      RG023  274920.0  358709.0       0
11      RG024  276747.0  356252.0       0
12      RG026  274330.0  355050.0       0
13      RG027  269090.0  352840.0       0
14      RG028  275544.0  357484.0       0
RG023       0       0.0       0.0       0

In [82]:
allin = allin.fillna(0)

In [83]:
allin

      capteur       lat       lon     alt
0       RG007  265083.0  353648.0   27,19
1       RG009  273310.0  359693.0  712,33
2       RG010  274507.0  358192.0  829,37
3       RG011  278688.0  353659.0  851,01
4       RG012  271044.0  358059.0   90,34
5       RG013  272373.0  356121.0  108,14
6       RG014  268146.0  355121.0   14,39
7       RG017  269999.0   33756.0  346,74
8       RG018  272454.0  354572.0  522,99
9       RG019  275066.0  356083.0  837,23
10      RG023  274920.0  358709.0       0
11      RG024  276747.0  356252.0       0
12      RG026  274330.0  355050.0       0
13      RG027  269090.0  352840.0       0
14      RG028  275544.0  357484.0       0
RG023       0       0.0       0.0       0

In [88]:
allin = allin[:-1]

In [91]:
allin = allin.set_index("capteur")

In [92]:
allin

              lat       lon     alt
capteur
RG007    265083.0  353648.0   27,19
RG009    273310.0  359693.0  712,33
RG010    274507.0  358192.0  829,37
RG011    278688.0  353659.0  851,01
RG012    271044.0  358059.0   90,34
RG013    272373.0  356121.0  108,14
RG014    268146.0  355121.0   14,39
RG017    269999.0   33756.0  346,74
RG018    272454.0  354572.0  522,99
RG019    275066.0  356083.0  837,23
RG023    274920.0  358709.0       0
RG024    276747.0  356252.0       0
RG026    274330.0  355050.0       0
RG027    269090.0  352840.0       0
RG028    275544.0  357484.0       0